#hero {
	width:600px;
	float:left;
}

#textBox {
	float:left;
	width: 300px;
	margin-left: 50px;
	
}

h3 {
	color: #DDDDDD;
	font-family: helvetica;
	margin-left: 75px;
}

p {
	color: #FFFFFF;
	font-family: helvetica;
	margin-top: 50px;
}

h2 {
	font-family: helvetica;
	text-align:center;
	text-transform:uppercase;
}

a {
	text-decoration: none;
	color: #DDDDDD;
}

.thirdBox {
	width:310px;
	height: 320px;
	float:left;
	border: 2px solid #120802;
	margin:7px;
	padding:2px;
	background-color: #3B1B08;
}